<header class="main-header menu-absolute" dir="rtl">
    <!--Header-Upper-->
    <div class="header-upper">
      <div class="container container-1620 clearfix">
        <div class="header-inner rel d-flex align-items-center">
          <div class="logo-outer">
            <div class="logo">
              <a href="index.html"
                ><img src="assets/images/logos/logo.svg" alt="Logo" title="Logo"
              /></a>
            </div>
          </div>
  
          <div class="nav-outer clearfix mx-auto">
            <!-- Main Menu -->
            <nav class="main-menu navbar-expand-lg">
              <div class="navbar-header">
                <div class="mobile-logo my-15">
                  <a href="index.html">
                    <img
                      src="assets/images/logos/logo.svg"
                      alt="Logo"
                      title="Logo"
                    />
                  </a>
                </div>
  
                <!-- Toggle Button -->
                <button
                  type="button"
                  class="navbar-toggle me-4"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse"
                >
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
  
              <div class="navbar-collapse collapse clearfix">
                <ul class="navigation onepage clearfix">
                  <li><a href="#home">خانه</a></li>
                  <li><a href="#about">درباره ما</a></li>
                  <li><a href="#resume">رزومه</a></li>
                  <li><a href="#services">سرویس ها</a></li>
                  <li><a href="#skills">مهارت ها</a></li>
                  <li><a href="#portfolio">پروژه ها</a></li>
                  <!-- <li><a href="#blog">blog</a></li> -->
                  <li><a href="#contact">تماس با ما</a></li>
                  <li class="dropdown">
                    <a href="javascript:void(0);">زبان</a>
                    <ul>
                      <li>
                        <a (click)="changeLanguage('fa')" href="/">
                          <img
                            src="https://flagcdn.com/h80/ir.png"
                            alt="Persian"
                            style="height: 20px; width: 30px; margin-right: 5px"
                          />
                          Persian
                        </a>
                      </li>
                      <li>
                        <a (click)="changeLanguage('en')" href="/">
                          <img
                            src="https://flagcdn.com/h80/gb.png"
                            alt="English"
                            style="height: 20px; width: 30px; margin-right: 5px"
                          />
                          English
                        </a>
                      </li>
                    </ul>
                  </li>
  
                </ul>
              </div>
            </nav>
            <!-- Main Menu End-->
          </div>
  
          <!-- Menu Button -->
          <div class="menu-btns">
            <!-- menu sidbar -->
            <div class="menu-sidebar">
              <button>
                <img
                  src="assets/images/shape/sidebar-tottler.svg"
                  alt="Toggler"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Header Upper-->
  </header>
  
