.main-header {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-header .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

@media only screen and (min-width: 1200px) {
    .main-header .container-fluid {
        padding-left: 55px;
        padding-right: 55px;
    }
}

.main-header .header-upper {
    z-index: 5;
    width: 100%;
    position: relative;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-header .logo-outer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

@media only screen and (max-width: 991px) {
    .main-header .logo-outer {
        display: none;
    }
}

.main-header .logo {
    z-index: 9;
    padding: 2px 0;
    position: relative;
}

.main-header .nice-select .current {
    color: white;
}

.main-header.menu-absolute .header-upper {
    position: absolute;
}

.main-header.fixed-header .header-upper {
    top: 0;
    left: 0;
    position: fixed;
    -webkit-animation: sticky 1s;
    animation: sticky 1s;
    background: var(--lighter-color);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, 0.1);
}

@media only screen and (min-width: 992px) {
    .main-header.fixed-header .main-menu .navbar-collapse>ul>li {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .menu-social {
        display: none;
    }
}

.menu-social a {
    margin-left: 18px;
    margin-right: 18px;
}

.onepage-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    padding: 30px 20px;
    background: #232323;
    border-radius: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 1399px) {
    .onepage-menu {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.onepage-menu li .menu-item {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 1399px) {
    .onepage-menu li .menu-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .onepage-menu li .menu-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.onepage-menu li .menu-item i {
    font-size: 22px;
}

.onepage-menu li .menu-item span {
    display: block;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .onepage-menu li .menu-item span {
        display: none;
    }
}

.onepage-menu li:not(:last-child) a {
    border-bottom: 1px solid var(--border-color);
}

.onepage-menu .active a {
    color: black;
    border-radius: 16px;
    background: var(--primary-color);
}

@media only screen and (max-width: 1399px) {
    .onepage-menu .active a {
        border-radius: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-menu {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .hero-menu li .menu-item span {
        display: none;
    }
}

.nav-outer {
    margin-left: auto;
}

@media only screen and (max-width: 991px) {
    .nav-outer {
        width: 100%;
    }
}

/** Header Main Menu **/
@media only screen and (max-width: 991px) {
    .main-menu {
        width: 100%;
    }
}

.main-menu .mobile-logo {
    margin-right: auto;
}

@media only screen and (max-width: 575px) {
    .main-menu .mobile-logo {
        max-width: 150px;
    }
}

@media only screen and (max-width: 991px) {
    .main-menu .collapse {
        overflow: auto;
    }
}

.main-menu .navbar-collapse {
    padding: 0px;
}

.main-menu .navbar-collapse>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse>ul {
        display: block;
        padding: 25px 0;
        overflow-x: hidden;
        background: var(--lighter-color);
        max-height: calc(100vh - 100px);
    }

    .main-menu .navbar-collapse>ul>li:last-child {
        border-bottom: 1px solid var(--border-color);
    }
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse {
        left: 0;
        width: 100%;
        position: absolute;
    }
}

.main-menu .navbar-collapse li {
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 1399px) {
    .main-menu .navbar-collapse li {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li {
        display: block;
        padding: 0 15px;
        border-top: 1px solid var(--border-color);
    }
}

.main-menu .navbar-collapse li.dropdown .dropdown-btn {
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
    color: var(--heading-color);
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li.dropdown .dropdown-btn {
        position: absolute;
        right: 10px;
        top: 0;
        width: 50px;
        height: 43px;
        border-left: 1px solid var(--border-color);
        text-align: center;
        line-height: 43px;
    }
}

.main-menu .navbar-collapse li a {
    opacity: 1;
    display: block;
    font-weight: 500;
    position: relative;
    color: var(--heading-color);
    font-family: "DM Sans", sans-serif;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li a {
        padding: 10px 10px;
        line-height: 22px;
    }
}

@media only screen and (min-width: 992px) {
    .main-menu .navbar-collapse li a:after {
        content: '';
        opacity: 0;
        position: absolute;
        left: 0;
        top: 115%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        width: 25px;
        height: 2px;
        background: var(--primary-color);
    }
}

.main-menu .navbar-collapse li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.main-menu .navbar-collapse li a:hover:after {
    opacity: 1;
}

.main-menu .navbar-collapse li.current>a,
.main-menu .navbar-collapse li.current-menu-item>a {
    font-weight: 500;
}

.main-menu .navbar-collapse li li {
    border-top: 1px solid var(--border-color);
}

.main-menu .navbar-collapse li li a {
    text-transform: capitalize;
}

.main-menu .navbar-collapse li li a:after {
    display: none;
}

.main-menu .navbar-collapse li .megamenu {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    padding: 20px 0;
    background: var(--lighter-color);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

.main-menu .navbar-collapse li .megamenu:after {
    display: block;
    clear: both;
    content: "";
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li .megamenu {
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
    }

    .main-menu .navbar-collapse li .megamenu .container {
        max-width: 100%;
    }

    .main-menu .navbar-collapse li .megamenu .row {
        margin: 0px;
    }
}

.main-menu .navbar-collapse li .megamenu ul {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-menu .navbar-collapse li ul {
    position: absolute;
    left: inherit;
    top: 100%;
    min-width: 250px;
    z-index: 100;
    display: none;
    background: var(--lighter-color);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -2px 0px 5px 1px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li ul {
        position: relative;
        display: none;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .main-menu .navbar-collapse li ul:after {
        display: block;
        clear: both;
        content: "";
    }
}

@media only screen and (max-width: 991px) and (max-width: 375px) {
    .main-menu .navbar-collapse li ul {
        min-width: auto;
    }
}

.main-menu .navbar-collapse li ul li {
    width: 100%;
    padding: 7px 20px;
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li ul li {
        padding: 0 15px;
    }
}

.main-menu .navbar-collapse li ul li ul {
    left: 100%;
    top: 0%;
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-collapse li ul li ul {
        left: auto;
    }
}

.main-menu .navbar-header {
    display: none;
}

@media only screen and (max-width: 991px) {
    .main-menu .navbar-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

.main-menu .navbar-header .navbar-toggle {
    float: right;
    padding: 4px 0;
    cursor: pointer;
    background: transparent;
}

.main-menu .navbar-header .navbar-toggle .icon-bar {
    background: var(--base-color);
    height: 2px;
    width: 30px;
    display: block;
    margin: 7px 0;
}

/* Menu Btns */
.menu-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Menu Sidebar */
.menu-sidebar button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-color);
}

@media only screen and (max-width: 991px) {
    .menu-sidebar button {
        width: 45px;
        height: 45px;
    }
}

/** hidden-sidebar * */
.hidden-bar {
    position: fixed;
    right: -350px;
    top: 0px;
    opacity: 0;
    width: 350px;
    height: 100%;
    z-index: 99999;
    overflow-y: auto;
    visibility: hidden;
    background-color: var(--lighter-color);
    border-left: 1px solid #231b26;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 375px) {
    .hidden-bar {
        width: 300px;
    }
}

.hidden-bar .social-style-one a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.side-content-visible .hidden-bar {
    right: 0px;
    opacity: 1;
    visibility: visible;
}

.hidden-bar .inner-box {
    position: relative;
    padding: 100px 40px 50px;
}

@media only screen and (max-width: 375px) {
    .hidden-bar .inner-box {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.hidden-bar .inner-box .cross-icon {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.hidden-bar .inner-box h4 {
    position: relative;
    color: #ffffff;
    margin-bottom: 35px;
}

/*Appointment Form */
.hidden-bar .appointment-form {
    position: relative;
}

.hidden-bar .appointment-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.hidden-bar .appointment-form input[type="text"],
.hidden-bar .appointment-form input[type="email"] {
    position: relative;
    display: block;
    width: 100%;
    line-height: 23px;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 16px;
    background: none;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hidden-bar .appointment-form textarea {
    position: relative;
    display: block;
    width: 100%;
    line-height: 23px;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: none;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    resize: none;
}

.hidden-bar .appointment-form input::-webkit-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form input:-ms-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form input::-ms-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form input::placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form textarea::-ms-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form textarea::placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.hidden-bar .appointment-form .form-group button {
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-color: white;
}

.form-back-drop {
    position: fixed;
    left: 100%;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 9990;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.side-content-visible .form-back-drop {
    opacity: 1;
    left: 0;
    visibility: visible;
}

/* Menu White */
.main-header.header-white {
    position: absolute;
}

@media only screen and (min-width: 1200px) {
    .main-header.header-white .nav-outer {
        margin-left: 110px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header.header-white .nav-outer {
        margin-left: 60px;
    }
}

.main-header.header-white .shopping-bag,
.main-header.header-white .menu-btns>button,
.main-header.header-white .nav-search>button,
.main-header.header-white .menu-phone-number a {
    color: white;
}

@media only screen and (min-width: 992px) {

    .main-header.header-white .main-menu .navigation>li>a,
    .main-header.header-white .main-menu .navigation>.dropdown>.dropdown-btn {
        color: white;
    }
}

.main-header.header-white .main-menu .navigation li li a:hover {
    color: var(--primary-color);
}

.main-header.header-white .menu-sidebar button .icon-bar,
.main-header.header-white .main-menu .navbar-toggle .icon-bar {
    background: white;
}

@media only screen and (max-width: 1299px) {
    .main-header.header-white .language-switcher {
        display: none;
    }
}

.main-header.header-white.fixed-header .header-upper {
    background: #17171a;
}