
.loading-overlay.animation {
    animation: show-overlay 0.3s ease-in-out forwards;
    animation-fill-mode: both;
  }
  
  @keyframes show-overlay {
    from { opacity: 0; }
    to { opacity: 0.7; } /* Adjust opacity to match your desired level */
  }