<div class="page-wrapper">
  <!-- Preloader -->
  <!-- <div
    *ngIf="isLoading"
    class="fixed-top w-100 h-100 amir"
    style="opacity: 0.7"
  >
    <app-loading></app-loading>
  </div> -->

  <!-- main header -->
  <app-main-header></app-main-header>

  <!--Form Back Drop-->
  <div class="form-back-drop"></div>

  <!-- Hidden Sidebar -->
  <section class="hidden-bar">
    <div class="inner-box text-center">
      <div class="cross-icon"><span class="fa fa-times"></span></div>
      <div class="title">
        <h4>Get Appointment</h4>
      </div>

      <!--Appointment Form-->
      <div class="appointment-form">
        <form [formGroup]="appealRequestForm" (ngSubmit)="onAppealRequest()">
          <div class="form-group">
            <input
              type="text"
              name="text"
              formControlName="name"
              placeholder="Name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email Address"
              formControlName="email"
              required
            />
          </div>
          <div class="form-group">
            <textarea placeholder="Message" rows="5" formControlName="message"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="theme-btn" [disabled]="isLoading">Submit now</button>
          </div>
        </form>
      </div>

      <!--Social Icons-->
      <div class="social-style-one">
        <a href="https://x.com/lamirabasil?t=kGNXHUkgC78lZZYElD51Ug&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/amirabasi___?igsh=eGk4dmltazdjcmNx" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/amir-abasi-661b381b7/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </section>
  <!--End Hidden Sidebar -->

  <!-- Hero Section Start -->
  <section id="home" class="main-hero-area pt-150 pb-80 rel z-1">
    <div class="container container-1620">
      <div class="row align-items-center">
        <div class="col-lg-4 col-sm-7">
          <div class="hero-content rmb-55 wow fadeInUp delay-0-2s">
            <span class="h2">Hello, i’m </span>
            <h1><b>Amir Abasi</b> Senior Flutter Developer</h1>
            <p>Building Apps | Code Artist | Amir, Flutter Dev</p>
            <div class="hero-btns">
              <button href="contact.html" class="theme-btn" (click)="onHireMe()"
                >Hire Me <i class="far fa-angle-right"></i
              ></button>
              <a href="contact.html" class="read-more"
                >Download Resume <i class="far fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-5 order-lg-3">
          <div
            class="hero-counter-wrap ms-lg-auto rmb-55 wow fadeInUp delay-0-4s"
          >
            <div class="counter-item counter-text-wrap">
              <span class="count-text plus" data-speed="3000" data-stop="7"
                >0</span
              >
              <span class="counter-title">Years Of Experience</span>
            </div>
            <div class="counter-item counter-text-wrap">
              <span class="count-text plus" data-speed="3000" data-stop="115"
                >0</span
              >
              <span class="counter-title">Project Complete</span>
            </div>
            <div class="counter-item counter-text-wrap">
              <span class="count-text percent" data-speed="3000" data-stop="99"
                >0</span
              >
              <span class="counter-title">Client Satisfactions</span>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="author-image-part wow fadeIn delay-0-3s">
            <div class="bg-circle"></div>
            <img
              src="assets/images/hero/me.png"
              alt="Author"
              style="width: 475px; height: 608px; object-fit: contain"
            />
            <div class="progress-shape">
              <img src="assets/images/hero/progress-shape.svg" alt="Progress" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- About Area start -->
  <section id="about" class="about-area rel z-1">
    <div class="for-bgc-black py-130 rpy-100">
      <div class="container">
        <div class="row gap-100 align-items-center">
          <div class="col-lg-7">
            <div class="about-content-part rel z-2 rmb-55">
              <div class="section-title mb-35 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-15">About Me</span>
                <h2>Transforming Ideas into Actionable Solutions</h2>
                <h2><span>Amir Abasi</span> Your Digital Partner</h2>
                <p>
                  I'm Amir Abasi, a full-stack developer specializing in mobile
                  development, particularly the world of Flutter. With
                  experience in Python, Node.js, and Angular, I'm always looking
                  to learn and improve. More than just coding, I believe in
                  never giving up, a trait that fuels my passion for building
                  innovative and user-friendly mobile experiences.
                </p>
              </div>
              <ul class="list-style-one two-column wow fadeInUp delay-0-2s">
                <li>Application Development</li>
                <li>Development & Design</li>
                <li>UI & UX</li>
                <li>Web Development</li>
                <li>Backend Development</li>
                <li>Product Design</li>
              </ul>
              <div class="about-info-box mt-25 wow fadeInUp delay-0-2s">
                <div class="info-box-item">
                  <i class="far fa-envelope"></i>
                  <div class="content">
                    <span>Email Us</span><br />
                    <a href="mailto:lamirshahinxl@gmail.com"
                      >lamirshahinxl&#64;gmail.com</a
                    >
                  </div>
                </div>
                <div class="info-box-item">
                  <i class="far fa-phone"></i>
                  <div
                    class="content"
                    style="display: flex; flex-direction: column"
                  >
                    <span>Make A Call</span>
                    <a href="callto:+1(225)522-1367">+1 (225) 522-1367</a>
                    <a href="callto:+995(555)924064">+995 (555) 924 064</a>
                    <a href="callto:+989397974230">+98 (939) 797 4230</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="about-image-part wow fadeInUp delay-0-3s">
              <img src="assets/images/about/about.png" alt="About Me" />
              <div class="about-btn btn-one wow fadeInRight delay-0-4s">
                <img src="assets/images/about/btn-image1.png" alt="Image" />
                <h6>Application Developer</h6>
                <i class="fas fa-arrow-right"></i>
              </div>
              <div class="about-btn btn-two wow fadeInRight delay-0-5s">
                <img src="assets/images/about/btn-image1.png" alt="Image" />
                <h6>Amir, Abasi</h6>
                <i class="fas fa-arrow-right"></i>
              </div>
              <div class="dot-shape">
                <img src="assets/images/shape/about-dot.png" alt="Shape" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- About Area end -->

  <!-- Resume Area start -->
  <section id="resume" class="resume-area pt-130 rpt-100 rel z-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-center justify-content-center">
          <div
            class="big-icon mt-85 rmt-0 rmb-55 wow fadeInUp delay-0-2s"
            style="width: 100%; height: auto"
          >
            <img
              src="assets/images/me.jpg"
              alt="Author"
              style="border-radius: 50%"
            />
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-xl-8 col-lg-9">
              <div class="section-title mb-60 wow fadeInUp delay-0-2s">
                <span class="sub-title mb-15">My Resume</span>
                <h2>Real Developing<span> Experience</span></h2>
              </div>
            </div>
          </div>
          <div class="resume-items-wrap">
            <div class="row justify-content-between">
              <div class="col-xl-5 col-md-6">
                <div class="resume-item wow fadeInUp delay-0-3s">
                  <div class="icon">
                    <i class="far fa-arrow-right"></i>
                  </div>
                  <div class="content">
                    <span class="years">2023 - Present</span>
                    <h4>Senior Flutter Developer</h4>
                    <span class="company">ParsPack | Iran</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6">
                <div class="resume-item wow fadeInUp delay-0-4s">
                  <div class="icon">
                    <i class="far fa-arrow-right"></i>
                  </div>
                  <div class="content">
                    <span class="years">2022 - 2023</span>
                    <h4>Flutter Technical Leader</h4>
                    <span class="company">4WG | Iran</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6">
                <div class="resume-item wow fadeInUp delay-0-2s">
                  <div class="icon">
                    <i class="far fa-arrow-right"></i>
                  </div>
                  <div class="content">
                    <span class="years">2020 - 2022</span>
                    <h4>Senior Flutter Developer</h4>
                    <span class="company">Bugloos | Netherlands</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6">
                <div class="resume-item wow fadeInUp delay-0-2s">
                  <div class="icon">
                    <i class="far fa-arrow-right"></i>
                  </div>
                  <div class="content">
                    <span class="years">2019 - 2020</span>
                    <h4>Frontend Developer</h4>
                    <span class="company">EPAM | Georgia</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6">
                <div class="resume-item wow fadeInUp delay-0-2s">
                  <div class="icon">
                    <i class="far fa-arrow-right"></i>
                  </div>
                  <div class="content">
                    <span class="years">2018 - 2019</span>
                    <h4>Backend Developer</h4>
                    <span class="company">NikNet | Iran</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-md-6">
                <div class="resume-item wow fadeInUp delay-0-2s">
                  <div class="icon">
                    <i class="far fa-arrow-right"></i>
                  </div>
                  <div class="content">
                    <span class="years">2017 - 2018</span>
                    <h4>Backend Developer</h4>
                    <span class="company">Iranian Academy | Iran</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Resume Area end -->

  <!-- Services Area start -->
  <section
    id="services"
    class="services-area pt-130 rpt-100 pb-100 rpb-70 rel z-1"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
          <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
            <span class="sub-title mb-15">Popular Services</span>
            <h2>
              My <span>Special Service</span> For your Business Development
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" style="margin-bottom: 10px">
          <div class="service-item wow fadeInUp delay-0-2s">
            <div class="number">01.</div>
            <div class="content">
              <h4>Mobile Development & Design</h4>
              <p>
                Expert in Flutter development, proficient in building native
                Android and iOS apps
              </p>
            </div>
            <a href="service-details.html" class="details-btn"
              ><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-6" style="margin-bottom: 10px">
          <div class="service-item wow fadeInUp delay-0-4s">
            <div class="number">02.</div>
            <div class="content">
              <h4>User-Centered Website Design</h4>
              <p>
                I create user-friendly and visually stunning websites that
                convert visitors into customers. My process emphasizes
                understanding your target audience and designing for their
                needs, resulting in websites that are both beautiful and
                effective
              </p>
            </div>
            <a href="service-details.html" class="details-btn"
              ><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item wow fadeInUp delay-0-2s">
            <div class="number">03.</div>
            <div class="content">
              <h4>Data-Driven Website Design</h4>
              <p>
                Through data analysis and optimization, I craft websites that
                drive results. I use data to inform design decisions, ensuring
                your website delivers on its intended goals
              </p>
            </div>
            <a href="service-details.html" class="details-btn"
              ><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item wow fadeInUp delay-0-4s">
            <div class="number">04.</div>
            <div class="content">
              <h4>Backend Developing</h4>
              <p>
                I leverage my expertise in back-end technologies like Python,
                Node.js, and various databases to build secure and scalable
                solutions. I focus on data management, API development,
                server-side logic, and integrating various components to create
                robust and efficient backend systems.
              </p>
            </div>
            <a href="service-details.html" class="details-btn"
              ><i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Services Area end -->

  <!-- Skill Area start -->
  <section id="skills" class="skill-area rel z-1">
    <div class="for-bgc-black pt-130 rpt-100 pb-100 rpb-70">
      <div class="container">
        <div class="row gap-100">
          <div class="col-lg-5">
            <div
              class="skill-content-part rel z-2 rmb-55 wow fadeInUp delay-0-2s"
            >
              <div class="section-title mb-40">
                <span class="sub-title mb-15">My Skills</span>
                <h2>Let’s Explore Popular <span>Skills & Experience</span></h2>
                <p>
                  My experience about building impactful websites and apps with
                  expertise in frontend frameworks and backend languages
                </p>
              </div>
              <!-- <a href="about.html" class="theme-btn"
                >Learn More <i class="far fa-angle-right"></i
              ></a> -->
            </div>
          </div>
          <div class="col-lg-7">
            <div class="skill-items-wrap">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-3s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/flutter_logo.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Flutter</h5>
                    <span class="percent">98%</span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/figma_logo.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Figma</h5>
                    <span class="percent">72%</span>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/android_logo.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Android</h5>
                    <span class="percent">86%</span>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/apple_logo.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>IOS</h5>
                    <span class="percent">70%</span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/angular_icon.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Angular</h5>
                    <span class="percent">89%</span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/python_logo.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Python</h5>
                    <span class="percent">90%</span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/nodejs_icon.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Node Js</h5>
                    <span class="percent">85%</span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                  <div class="skill-item wow fadeInUp delay-0-2s">
                    <object
                      type="image/svg+xml"
                      data="assets/images/skills/mongodb_icon.svg"
                      aria-label="Skill"
                      style="width: 70px; height: 70px"
                    ></object>
                    <h5>Mongo DB</h5>
                    <span class="percent">80%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Skill Area end -->

  <!-- Projects Area start -->
  <section
    id="portfolio"
    class="projects-area pt-130 rpt-100 pb-100 rpb-70 rel z-1"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
            <span class="sub-title mb-15">Latest Works</span>
            <h2>Explore My Popular <span>Projects</span></h2>
          </div>
        </div>
      </div>
      <div
        class="row align-items-center pb-25"
        *ngFor="let project of projectList; let i = index"
      >
        <div class="col-lg-6" [ngClass]="{ 'order-lg-2': i % 2 === 0 }">
          <div class="project-image wow fadeInLeft delay-0-2s">
            <img
              src="assets/images/projects/{{ project.imageUrl }}"
              alt="Project"
            />
          </div>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="project-content wow fadeInRight delay-0-2s">
            <span class="sub-title">{{ project.subTitle }}</span>
            <h2>
              <a href="project-details.html">{{ project.title }}</a>
            </h2>
            <p>
              {{ project.description }}
            </p>
            <a [href]="project.link" class="details-btn" target="_blank"
              ><i class="far fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="project-btn text-center wow fadeInUp delay-0-2s">
        <a href="#contact" class="theme-btn menu-sidebar"
          >Need more projects? <i class="far fa-angle-right"></i
        ></a>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Projects Area end -->

  <!-- Testimonial Area start -->
  <section class="testimonials-area rel z-1">
    <div class="for-bgc-black py-130 rpy-100">
      <div class="container">
        <div class="row gap-90">
          <div class="col-lg-4">
            <div
              class="testimonials-content-part rel z-2 rmb-55 wow fadeInUp delay-0-2s"
            >
              <div class="section-title mb-40">
                <span class="sub-title mb-15">Clients Testimonials</span>
                <h2>I’ve 93+ Clients <span>Feedback</span></h2>
                <p>
                  Our work speaks for itself through the overwhelmingly positive
                  feedback from over 93 clients we've had the privilege of
                  serving. Their testimonials reflect our commitment to
                  delivering exceptional results and solutions that truly meet
                  their needs. We take pride in fostering long-lasting
                  partnerships built on transparency, expertise, and a deep
                  understanding of our clients' unique requirements.
                </p>
              </div>
              <div class="slider-arrows">
                <button class="testimonial-prev">
                  <i class="fal fa-arrow-left"></i>
                </button>
                <button class="testimonial-next">
                  <i class="fal fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="testimonials-wrap">
              <div class="testimonial-item wow fadeInUp delay-0-3s">
                <div class="author">
                  <img
                    src="assets/images/testimonials/author.jpg"
                    alt="Author"
                    style="height: 85px; width: 85px; border-radius: 50%"
                  />
                </div>
                <div class="text">
                  They are always available and are very knowledgeable and fair
                  presenters. dolores
                </div>
                <div class="testi-des">
                  <h5>Mohammadreza Kh.</h5>
                  <span>Web Developer</span>
                </div>
              </div>
              <div class="testimonial-item wow fadeInUp delay-0-4s">
                <div class="author">
                  <img
                    src="assets/images/testimonials/author.jpg"
                    alt="Author"
                    style="height: 85px; width: 85px; border-radius: 50%"
                  />
                </div>
                <div class="text">
                  Very very committed, diligent and personable. I enjoyed
                  working with them and they did a great project
                </div>
                <div class="testi-des">
                  <h5>Pendar P.</h5>
                  <span>Application Developer</span>
                </div>
              </div>
              <div class="testimonial-item wow fadeInUp delay-0-2s">
                <div class="author">
                  <img
                    src="assets/images/testimonials/author.jpg"
                    alt="Author"
                    style="height: 85px; width: 85px; border-radius: 50%"
                  />
                </div>
                <div class="text">
                  It was a pleasure working with them. Very professional and
                  delivered the project in the fastest possible time.
                </div>
                <div class="testi-des">
                  <h5>Lixo Study</h5>
                  <span>Application Developer</span>
                </div>
              </div>
              <div class="testimonial-item wow fadeInUp delay-0-2s">
                <div class="author">
                  <img
                    src="assets/images/testimonials/author.jpg"
                    alt="Author"
                    style="height: 85px; width: 85px; border-radius: 50%"
                  />
                </div>
                <div class="text">
                  He is so professional, always accessible, dedicated and polite
                  person and I highly recommend him.
                </div>
                <div class="testi-des">
                  <h5>Hossein A. Khaki</h5>
                  <span>Web Developer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Testimonial Area end -->

  <!-- Pricing Area start -->
  <!-- <section class="pricing-area pt-130 rpt-100 rel z-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
            <span class="sub-title mb-15">Pricing Package</span>
            <h2>Amazing <span>Pricing</span> For your Projects</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item wow fadeInUp delay-0-2s">
            <div class="pricing-header">
              <h4 class="title">Basic Plan</h4>
              <p class="save-percent">
                Try Out Basic Plan Save <span>20%</span>
              </p>
              <span class="price">19.95</span>
            </div>
            <div class="pricing-details">
              <p>
                Sed perspiciatis unde natus totam see rem aperiam eaque
                inventore
              </p>
              <ul>
                <li>Website Design</li>
                <li>Mobile Apps Design</li>
                <li>Product Design</li>
                <li class="unable">Digital Marketing</li>
                <li class="unable">Custom Support</li>
              </ul>
              <a href="contact.html" class="theme-btn"
                >Choose Package <i class="far fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item wow fadeInUp delay-0-4s">
            <div class="pricing-header">
              <h4 class="title">Standard Plan</h4>
              <p class="save-percent">
                Try Out Basic Plan Save <span>35%</span>
              </p>
              <span class="price">19.95</span>
            </div>
            <div class="pricing-details">
              <p>
                Sed perspiciatis unde natus totam see rem aperiam eaque
                inventore
              </p>
              <ul>
                <li>Website Design</li>
                <li>Mobile Apps Design</li>
                <li>Product Design</li>
                <li>Digital Marketing</li>
                <li>Custom Support</li>
              </ul>
              <a href="contact.html" class="theme-btn"
                >Choose Package <i class="far fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pricing-item wow fadeInUp delay-0-6s">
            <div class="pricing-header">
              <h4 class="title">Basic Plan</h4>
              <p class="save-percent">
                Try Out Basic Plan Save <span>45%</span>
              </p>
              <span class="price">19.95</span>
            </div>
            <div class="pricing-details">
              <p>
                Sed perspiciatis unde natus totam see rem aperiam eaque
                inventore
              </p>
              <ul>
                <li>Website Design</li>
                <li>Mobile Apps Design</li>
                <li>Product Design</li>
                <li>Digital Marketing</li>
                <li>Custom Support</li>
              </ul>
              <a href="contact.html" class="theme-btn"
                >Choose Package <i class="far fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section> -->
  <!-- Pricing Area end -->

  <!-- Contact Area start -->
  <section
    id="contact"
    class="contact-area pt-95 pb-130 rpt-70 rpb-100 rel z-1"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div
            class="contact-content-part pt-5 rpt-0 rmb-55 wow fadeInUp delay-0-2s"
          >
            <div class="section-title mb-40">
              <span class="sub-title mb-15">Get In Touch</span>
              <h2>Let’s Talk For your <span>Next Projects</span></h2>
              <p>Free Consultation: Brainstorm Your Next Project</p>
            </div>
            <ul class="list-style-two">
              <li>+7 Years Of Experience</li>
              <li>Professional Web Designer</li>
              <li>Mobile Apps Design</li>
              <li>Custom Design Support</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8">
          <div
            class="contact-form contact-form-wrap form-style-one wow fadeInUp delay-0-4s"
          >
            <form
              [formGroup]="requestForm"
              (ngSubmit)="onRequestSubmit()"
              class="contactForm"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Richard D. Hammond"
                      required
                      data-error="Please enter your Name"
                      formControlName="name"
                    />
                    <label for="name" class="for-icon"
                      ><i class="far fa-user"></i
                    ></label>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email"
                      placeholder="support@gmail.com"
                      required
                      data-error="Please enter your Email"
                    />
                    <label for="email" class="for-icon"
                      ><i class="far fa-envelope"></i
                    ></label>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="phone"
                      placeholder="+880 (123) 456 88"
                      required
                      data-error="Please enter your Phone Number"
                    />
                    <label for="phone_number" class="for-icon"
                      ><i class="far fa-phone"></i
                    ></label>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="subject">Subject</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="subject"
                      placeholder="Subject"
                      required
                      data-error="Please enter your Subject"
                    />
                    <label for="subject" class="for-icon"
                      ><i class="far fa-text"></i
                    ></label>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea
                      class="form-control"
                      rows="4"
                      formControlName="content"
                      placeholder="write message"
                      required
                      data-error="Please enter your Message"
                    ></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-0">
                    <button
                      type="submit"
                      class="theme-btn"
                      [disabled]="isLoading"
                    >
                      Send Us Message <i class="far fa-angle-right"></i>
                    </button>
                    <div id="msgSubmit" class="hidden"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section>
  <!-- Contact Area end -->

  <!-- Blog Area start -->
  <!-- <section id="blog" class="blog-area rel z-1">
    <div class="for-bgc-black pt-130 pb-100 rpt-100 rpb-70">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12">
            <div
              class="section-title text-center mb-60 wow fadeInUp delay-0-2s"
            >
              <span class="sub-title mb-15">News & Blog</span>
              <h2>Latest News & <span>Blog</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="blog-item wow fadeInUp delay-0-2s">
              <div class="image">
                <img src="assets/images/blog/blog1.png" alt="Blog" />
              </div>
              <div class="content">
                <div class="blog-meta mb-35">
                  <a class="tag" href="blog.html">Design</a>
                  <a class="tag" href="blog.html">Figma</a>
                </div>
                <h5>
                  <a href="blog-details.html"
                    >Tips For Conductin See Usability Studies</a
                  >
                </h5>
                <hr />
                <div class="blog-meta mt-35">
                  <a class="date" href="#"
                    ><i class="far fa-calendar-alt"></i> September 25, 2023</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="blog-item wow fadeInUp delay-0-2s">
              <div class="image">
                <img src="assets/images/blog/blog2.png" alt="Blog" />
              </div>
              <div class="content">
                <div class="blog-meta mb-35">
                  <a class="tag" href="blog.html">Design</a>
                  <a class="tag" href="blog.html">Figma</a>
                </div>
                <h5>
                  <a href="blog-details.html"
                    >Keyboard-Only Suppor Assistive Technology</a
                  >
                </h5>
                <hr />
                <div class="blog-meta mt-35">
                  <a class="date" href="#"
                    ><i class="far fa-calendar-alt"></i> September 25, 2023</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </section> -->
  <!-- Blog Area end -->

  <!-- Client Log start -->
  <div class="client-logo-area rel z-1 pt-130 rpt-100 pb-60">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <div
            class="section-title text-center pt-5 mb-65 wow fadeInUp delay-0-2s"
          >
            <h6>
              I’ve <span>90+ Global Clients</span> & lot’s of Project Complete
            </h6>
          </div>
        </div>
      </div>
      <div class="client-logo-wrap">
        <a
          class="client-logo-item wow fadeInUp delay-0-2s"
          href="https://nobitex.ir/"
          target="_blank"
        >
          <img
            src="assets/images/client-logos/nobitex.png"
            alt="Client Logo"
            style="width: 100px; height: 80px"
          />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-3s"
          href="https://bitimen.com/"
          target="_blank"
        >
          <img
            src="assets/images/client-logos/bitimen.png"
            alt="Client Logo"
            style="width: 80px; height: 80px"
          />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-4s"
          href="https://www.stilpunkte.de/essen/eintraege/hoergeraete-augenoptik-bagus-gmbh-co-kg/"
          target="_blank"
        >
          <img src="assets/images/client-logos/baglus.png" alt="Client Logo" />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-5s"
          href="https://parspack.com/"
          target="_blank"
        >
          <img
            src="assets/images/client-logos/parspack.png"
            alt="Client Logo"
          />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-6s"
          href="https://ateba-med.ir/"
          target="_blank"
        >
          <img src="assets/images/client-logos/ateba.png" alt="Client Logo" />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-2s"
          href="https://hiddify.com/"
          target="_blank"
        >
          <img src="assets/images/client-logos/hiddify.png" alt="Client Logo" />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-3s"
          href="https://play.google.com/store/apps/details?id=com.app.hayla"
          target="_blank"
        >
          <img src="assets/images/client-logos/hayla.png" alt="Client Logo" />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-4s"
          href="https://www.vibez.io/getapp"
          target="_blank"
        >
          <img src="assets/images/client-logos/vibez.png" alt="Client Logo" />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-5s"
          href="https://zaltv.com/"
          target="_blank"
        >
          <img src="assets/images/client-logos/zaltv.png" alt="Client Logo" />
        </a>
        <a
          class="client-logo-item wow fadeInUp delay-0-6s"
          href="https://www.linkedin.com/in/nik-net-7ab4771a5?originalSubdomain=ir"
          target="_blank"
        >
          <img
            src="assets/images/client-logos/niknet.png"
            alt="Client Logo"
            style="width: 150px"
          />
        </a>
      </div>
    </div>
    <div class="bg-lines">
      <span></span><span></span> <span></span><span></span> <span></span
      ><span></span> <span></span><span></span> <span></span><span></span>
    </div>
  </div>
  <!-- Client Log end -->

  <!-- footer area start -->
  <footer class="main-footer rel z-1">
    <div class="footer-top-wrap bgc-black pt-100 pb-75">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-12">
            <div class="footer-widget widget_logo wow fadeInUp delay-0-2s">
              <div class="footer-logo">
                <a href="index.html"
                  ><img src="assets/images/logos/logo.svg" alt="Logo"
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7">
            <div
              class="footer-widget widget_newsletter wow fadeInUp delay-0-4s"
            >
              <form
                [formGroup]="contactRequestForm"
                (ngSubmit)="onSubmitContactRequest()"
              >
                <label for="email-address"
                  ><i class="far fa-envelope"></i
                ></label>
                <input
                  id="email-address"
                  type="email"
                  formControlName="email"
                  placeholder="Email Address"
                  required
                />
                <button
                  style="color: white"
                  type="submit"
                  [disabled]="isLoading"
                >
                  Contact request<i
                    class="far fa-angle-right"
                    style="color: white"
                  ></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-5">
            <div
              class="footer-widget widget_contact_info wow fadeInUp delay-0-6s"
            >
              <h6 class="footer-title">Address</h6>
              <ul>
                <li>
                  <i class="far fa-map-marker-alt"></i>Tehran, Iran | Tbilisi,
                  Georgia
                </li>
                <li>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:support@gmail.com"
                    >lamirshahinxl&#64;gmail.com</a
                  >
                </li>
                <li>
                  <i class="far fa-phone"></i>
                  <a href="callto:+1(225)522-1367">+1 (225) 522-1367</a>
                </li>
                <li>
                  <i class="far fa-phone"></i>
                  <a href="callto:+995(555)924064">+995 (555) 924 064</a>
                </li>
                <li>
                  <i class="far fa-phone"></i>
                  <a href="callto:+989397974230">+98 (939) 797 4230</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom pt-20 pb-5 rpt-25">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="copyright-text">
              <p>
                Copyright &#64;2024, <a href="index.html">Amir Abasi</a> All
                Rights Reserved
              </p>
            </div>
          </div>
          <div class="col-lg-6 text-lg-end">
            <ul class="footer-bottom-nav">
              <li>
                <a
                  href="https://x.com/lamirabasil?t=kGNXHUkgC78lZZYElD51Ug&s=09"
                  >Twitter</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/amirabasi___?igsh=eGk4dmltazdjcmNx"
                  target="_blank"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/amir-abasi-661b381b7/"
                  target="_blank"
                  >LinkedIn</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- Scroll Top Button -->
        <button class="scroll-top scroll-to-target" data-target="html">
          <span class="fas fa-angle-double-up"></span>
        </button>
      </div>
      <div class="bg-lines">
        <span></span><span></span> <span></span><span></span> <span></span
        ><span></span> <span></span><span></span> <span></span><span></span>
      </div>
    </div>
  </footer>
  <!-- footer area end -->
</div>
